{% extends "base-layout.njk" %} {% block content %}
<article class="my-10 md:p-5 border-t-2 border-gray-200 dark:border-gray-800">
  <header>
    <h3 class="text-4xl font-bold">{{ title }}</h3>
    <p class="dark:text-dark-gray text-gray text-base my-2">
      Published on <time datetime="{{ date }}">{{ date | date }}</time>
    </p>
  </header>

  {% if tags %}
  <span class="">
    {%- for tag in tags -%}
    <a
      href="/tags/{{ tag }}/"
      class="text-lg font-semibold underline inline-block mr-2"
      >#{{ tag }}</a
    >{% if not loop.last %} {% endif %} {%- endfor -%}
  </span>
  {% endif %}

  <div class="mt-6">{{ content | safe }}</div>
</article>
{% endblock %}
