@import "tailwindcss";

@theme {
  --color-black: #252525;
  --color-white: #faf5f6;
  --color-gray: #6b6b6b;
  --color-gold: #fbdc13;
  --color-dark-gray: #a4a4a4;
}

body {
  font-family: "Nunito Sans",
    serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth"100,
    "YTLC"500;
}

a {
  color: var(--color-pink-500);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--color-gold);
  }

}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.blog {
  @apply space-y-6;
  @apply text-xl/8;
  h3 {
    @apply text-2xl;
    @apply font-semibold;
  }
  h4 {
    @apply text-xl;
    @apply font-bold;
  }
  ul {
    @apply list-disc;
    @apply ml-10;
    @apply space-y-2;
  }
  ol {
    @apply list-decimal;
    @apply ml-10;
    @apply space-y-2
  }
  mark {
    @apply bg-yellow-500;
    @apply px-1.5;
    @apply rounded-md;
    font-size: .875em;
  }

  code, kbd {
    @apply bg-gray-700;
    @apply text-white;
    @apply px-1.5;
    @apply py-0.5;
    @apply rounded-md;
    font-size: .875em;
  }

  @media (prefers-color-scheme: dark) {
    mark {
      @apply bg-yellow-200;
    }
    code, kbd {
      @apply bg-[#424242];
      
    }
  }
}
