@import "tailwindcss";

@theme {
  --color-black: #252525;
  --color-white: #faf5f6;
  --color-gray: #6b6b6b;
  --color-gold: #fbdc13;
  --color-dark-gray: #a4a4a4;
}

body {
  font-family: "Nunito Sans",
    serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth"100,
    "YTLC"500;
}

a {
  color: var(--color-pink-500);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--color-gold);
  }

}