---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "tags/{{ tag | slug }}/"
layout: base-layout
eleventyComputed:
  title: "Posts tagged {{ tag }}"
---

<div class="my-10">
  <h3 class="text-xl dark:text-dark-gray text-gray text-center mb-5">
    Posts Tagged: #{{ tag }}
  </h3>

  <ul>
    {% for post in collections.was %} {% if tag in post.data.tags %} {% include
    "blog-list.njk" %} {% endif %} {% endfor %}
  </ul>
</div>
